@model DataLayer.ViewModels.Page.AddEditPage

@{
    ViewData["Title"] = "افزودن پست";
}

<section class="category-section border-radius">
    <header><i class="fa fa-home"></i> <h3> افزودن پست </h3></header>
    <ul style="padding: 20px">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="AddPage" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="GroupId"></label>
                        @foreach (var item in Model.PageGroups)
                        {
                            <div class="form-check">
                                <input asp-for="GroupId" class="form-check-input" type="radio" value="@item.GroupId">
                                <label class="form-check-label">
                                    @item.GroupTitle
                                </label>
                            </div>
                        }
                        <span asp-validation-for="GroupId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShortDescription" class="control-label"></label>
                        <textarea asp-for="ShortDescription" class="form-control"></textarea>
                        <span asp-validation-for="ShortDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Text" class="control-label"></label>
                        <textarea asp-for="Text" rows="5" class="form-control"></textarea>
                        <span asp-validation-for="Text" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="ShowInSlider" />
                                نمایش در
                                @Html.DisplayNameFor(model => model.ShowInSlider)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewImage" class="control-label"></label>
                        <input type="file" asp-for="NewImage" class="form-control" />
                        <span asp-validation-for="NewImage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tags" class="control-label"></label>
                        <input asp-for="Tags" class="form-control" />
                        <p class="alert alert-info">کلمات کلیدی را با (-) از هم جدا کنید</p>
                        <span asp-validation-for="Tags" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="افزودن پست جدید" class="btn btn-success btn-block btn-lg" />
                    </div>
                </form>
            </div>
        </div>

    </ul>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
